{% capture futureVisioning %}{% include /content/3.2.1_futureVisioning.md %}{% endcapture %}
{% capture futureVisioning %}{{ futureVisioning | markdownify }}{% endcapture %}

{% capture alternativeMediaLabs %}{% include /content/3.2.2_alternativeMediaLabs.md %}{% endcapture %}
{% capture alternativeMediaLabs %}{{ alternativeMediaLabs | markdownify }}{% endcapture %}

{% capture independentPublishingPlatforms %}{% include /content/3.2.3_independentPublishingPlatforms.md %}{% endcapture %}
{% capture independentPublishingPlatforms %}{{ independentPublishingPlatforms | markdownify }}{% endcapture %}

{% capture publicInterestStorytelling %}{% include /content/3.2.4_publicInterestStorytelling.md %}{% endcapture %}
{% capture publicInterestStorytelling %}{{ publicInterestStorytelling | markdownify }}{% endcapture %}

{% capture grantsForInvestigativeJournalism %}{% include /content/3.2.5_grantsForInvestigativeJournalism.md %}{% endcapture %}
{% capture grantsForInvestigativeJournalism %}{{ grantsForInvestigativeJournalism | markdownify }}{% endcapture %}

{% capture holisticSupportCapacityDevelopment %}{% include /content/3.2.6_holisticSupportCapacityDevelopment.md %}{% endcapture %}
{% capture holisticSupportCapacityDevelopment %}{{ holisticSupportCapacityDevelopment | markdownify }}{% endcapture %}

{% capture connectingJournalistsCSOs %}{% include /content/3.2.7_connectingJournalistsCSOs.md %}{% endcapture %}
{% capture connectingJournalistsCSOs %}{{ connectingJournalistsCSOs | markdownify }}{% endcapture %}

{% capture physicalSpaces %}{% include /content/3.2.8_physicalSpaces.md %}{% endcapture %}
{% capture physicalSpaces %}{{ physicalSpaces | markdownify }}{% endcapture %}

{% capture solidarityResponseNetworks %}{% include /content/3.2.9_solidarityResponseNetworks.md %}{% endcapture %}
{% capture solidarityResponseNetworks %}{{ solidarityResponseNetworks | markdownify }}{% endcapture %}

<!-- ////////////////////////////////////////////////////// -->
