<article class="flyOut">
  <div class="flyOut__bg"></div>
  <div class="flyOut__inner">
    <div class="flyOut__inner__text">
      <div class="flyOut__close">[BIG X TO CLOSE BOX]</div>
      <h1>1. International Learning Exchanges</h1>
      <p>Fellowships or other learning experiences for Kenyan journalists to learn from international alternative media companies</p>
      <h3>nfluence and Opportunity Description</h3>
      <ul>
        <li>Independent journalists are dependent on big media organizations to pay for and publish stories</li>
        <li>Use fellowship or other modality to strengthen relationship with independent kenyan journalists to create opportunities for other places to publish</li>
        <li>Freeing them from dependence on paid work from the big kenyan media countries</li>
        <li>Expose independent journalists to international standards for media to try to show alternative model than pay to play journalism</li>
        <li>There are already a number of fellowship  programs around the world</li>
      </ul>
      <h3>Impact</h3>

      <ul>
      <li><p>This could be transformative for aspiring independent journalists, to connect with larger organizations outside of Kenya</p></li>

      <li><p>It could also provide an important publisher for stories that cannot or won't be published by Kenyan media</p></li>

      <li><p>Provide political cover and credibility to independent journalists</p></li>

      <li><p>Provide access to competitive payment/reporting for independent journalists</p></li>

      <li><p>However, likely only reach a small number of people</p></li>
      </ul>

      <h3 id="levelofeffort">Level of Effort</h3>

      <ul>
      <li>There would be quite a lot of work involved with building the relationships, defining the program, and the criteria</li>
      </ul>

      <h3 id="otherconsiderationsrisk">Other Considerations/Risk</h3>
    </div>
  </div>
</article>
