<div class="timeline fullWidth">
  <div class="timelineWindow"></div>
  <div class="timeline__scale">
    <span class="top">+</span>
    <span class="bottom">–</span>
    <span class="timeline__scale__label">impact</span>
  </div>
  <div class="timeline__viewport">
    <div class="timeline__section">
      <div class="timeline__section__introduction">
        <p>Scroll right to see how events of Kenya's past impacted its media ecosystem.</p>
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M3094.4,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81S14,578.9,0,578.9v38.43H3094.4" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>In a newly commercialized media, consumers enjoy expanded choices, especially as local language FM radio stations mushroom across the country. But while access to information increases, structural issues begin, as foreign entertainment floods in, and political interests claim radio frequencies.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Media Ownership Diversifies
        </span>
        <p>After decades of total state control, the Kenyan media begins to open through legal and regulatory reform.</p>
      </div>
      <div class="timeline__section__year">
        1990s
      </div>
    </div>
    <div class="timeline__section testerSection">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M2785,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19C138.18,488.55,58.23,528.51,0,546.9s-295.44,32-309.44,32v38.43H2785" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>As media ownership begins to diversify, audience demand increasingly drives content. Journalist integrity degrades (as sensationalist coverage wins eyeballs). Seeing the need for reform, in 2003 private media actors found the Media Council of Kenya, seeking to promote self-regulation within the press in terms of industry standards and journalist credentials.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          End of the Moi Regime
        </span>
        <p>After 24 years of autocratic rule as president, Daniel Moi is pushed to retire, and his political party loses in the election; Mwai Kibaki becomes president.</p>
      </div>
      <div class="timeline__section__year">
        2002
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M2475.52,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43h3094.4" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>Concerned by the media’s perceived role in the violence, Parliament pushes through new regulations, especially focused on controlling broadcast media; the 2009 regulations deal with hate speech and “inciting language” as well as profanity and explicitly sexual material. These continue to be used to reign in media through the 2017 election.</p>
        <p>Simultaneously, a number of international bodies push for conflict-sensitive reporting. While full of positive intentions, this push contributes to further media suppression.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Post-Election Violence
        </span>
        <p>Following the re-election of Mwai Kibaki, opposition-led tribal violence breaks out, killing as many as <a href="http://www.aljazeera.com/indepth/features/2013/03/201333123153703492.html">1,400</a> people.</p>
      </div>
      <div class="timeline__section__year">
        2007
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M2166.08,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43h3094.4" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>The constitution is a step forward for Kenyan media, negating many previous restrictive media regulations, and enshrining freedom of the press and access to information.</p>
        <p>The devolution of power also thrusts local media into a crucial position of holding local government accountable for vital service delivery (a role many are not prepared to play).</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          The New Constitution
        </span>
        <p>Kenya’s constitution is considered one of the region's most progressive. It devolves significant powers from the federal to the county level.</p>
      </div>
      <div class="timeline__section__year">
        2010
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M1856.64,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43h3094.4" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Uhuru Kenyatta becomes president
        </span>
      </div>
      <div class="timeline__section__year">
        2013
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M1547.2,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43H1547.2" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>With the series of reforms, the state provides funding for the Media Council of Kenya—absorbing some of its role. Two new regulatory bodies are also established within government, meaning there are three bodies, with overlapping functions, in charge of regulating the industry and with the power to impose large fines on media houses or individuals.</p>
        <p>The reforms’ positive effect of streamlined media governance is largely undercut by the journalist intimidation to which the new regulatory bodies contribute.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Amending Press Freedom
        </span>
        <p>Parliament passes a number of amendments to laws dealing with the media, expanding the state’s role in media regulation.</p>
      </div>
      <div class="timeline__section__year">
        2013
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M1237.76,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43h3094.4" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>After a TV news story exposes footage showing government forces allegedly looting stores during the attack, Parliament introduces a veiled “counterterrorism policy.” The new Securities Law criminalizes the publication of any insulting, threatening, or inciting material likely to cause alarm to the general public. The law increases self-censorship amongst journalists and editors.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Westgate Mall Attack
        </span>
        <p>A gunman with ties to an extremist Islamic group kills 67 people in a Nairobi shopping mall.</p>
      </div>
      <div class="timeline__section__year">
        2013
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M928.32,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43H928.32" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>The government, formerly one of the largest and most reliable revenue sources for media, gains steep negotiating leverage this way; by centralizing its advertising, the government is able to use advertising revenue as bait to push media institutions into uncritical support of its agenda.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Choking Ad Revenue
        </span>
        <p>The government streamlines all advertising through the Government Advertising Agency, and consolidates its ad buys into a single platform (MyGov).</p>
      </div>
      <div class="timeline__section__year">
        2015
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M618.88,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43H618.88" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>The goals of the transition are linked to economic and social development by creating jobs, expanding content, and efficiently using broadcasting resources.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Digital Television Arrives
        </span>
        <p>Kenya transitions from analog to digital television, meeting one of the goals of the Vision 2030 development blueprint.</p>
      </div>
      <div class="timeline__section__year">
        2015
      </div>
    </div>
    <div class="timeline__section">
      <svg preserveAspectRatio="none" viewBox="0 0 309.44 617.33"><path d="M309.44,414.9c-41.6,22-63.67,102-163.42,102-437.75,0-1411.64-322-1538.5-322-91.48,0-220.4,227-309.44,227s-204-83-312-93c-79.62,0-255.73,126.87-308,152.19-15.38,7.45-95.33,47.41-153.56,65.81s-295.44,32-309.44,32v38.43H309.44" style="fill:#cde5d0"/></svg>
      <div class="timeline__section__implication">
        <p>The right to access information, a constitutional guarantee, is strengthened through a new law which expands the types of information open to public request, and theoretically increases the speed. However, implementation is slow; government employees are nervous about what information they can share (and when), and citizen information request protocols are still new.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Access to Information
        </span>
        <p>Parliament passes the Access to Information Law, through strong advocacy support from civil society.</p>
      </div>
      <div class="timeline__section__year">
        2016
      </div>
    </div>
    <div class="timeline__section">
      <div class="timeline__section__implication">
        <p>Early signs indicate more clamp down on critical media and civil society. Indications of continuing the state’s policy to ensure sustained censorship in the media through stringent application of the various media laws. Media regulatory institutions such as the Communications Authority will play a more active and forceful role in policing the media space.</p>
        <p>Efforts at self regulation of the media will continue to suffer as the state strengthens regulatory models that place it at the centre of media governance in the country. Timid reporting by the media of the 2017 elections is a clear indicator of the direction that journalists will take in respect to their fourth estate role.Critical voices in the media will diminish as journalists play it safe in an environment characterized by direct and indirect forms of intimidation.</p>
      </div>
      <div class="timeline__section__event">
        <span class="timeline__section__event__title">
          Election results are annulled by the Supreme Court
        </span>
        <p>The future of media in Kenya remains uncertain.</p>
      </div>
      <div class="timeline__section__year">
        2017
      </div>
    </div>
    <div class="timeline__section">
    </div>
  </div>
</div>
<div class="arrowWrap fullWidth">
  <a class="timelineButtonLeft" href="#">
    <span class="left"></span>
  </a>
  <a class="timelineButtonRight" href="#">
    <span class="right"></span>
  </a>
</div>
<div class="clearfix"></div>
<script>
$( document ).ready(function() {

  $('.timelineButtonRight').click(function() {
      event.preventDefault();
      $('.timeline__viewport').animate({
        scrollLeft: "+=450px"
      }, 500);
   });

   $('.timelineButtonLeft').click(function() {
       event.preventDefault();
       $('.timeline__viewport').animate({
         scrollLeft: "-=450px"
       }, 500);
    });
});//end ready
</script>
