{% capture internationalMediaNetwork %}{% include /content/3.2.1_internationalMediaNetwork.md %}{% endcapture %}
{% capture internationalMediaNetwork %}{{ internationalMediaNetwork | markdownify }}{% endcapture %}

{% capture alternativeMediaLabs %}{% include /content/3.2.2_alternativeMediaLabs.md %}{% endcapture %}
{% capture alternativeMediaLabs %}{{ alternativeMediaLabs | markdownify }}{% endcapture %}

{% capture independentPublishingPlatforms %}{% include /content/3.2.3_independentPublishingPlatforms.md %}{% endcapture %}
{% capture independentPublishingPlatforms %}{{ independentPublishingPlatforms | markdownify }}{% endcapture %}

{% capture futureVisioning %}{% include /content/3.2.4_futureVisioning.md %}{% endcapture %}
{% capture futureVisioning %}{{ futureVisioning | markdownify }}{% endcapture %}

{% capture publicInterestStorytelling %}{% include /content/3.2.5_publicInterestStorytelling.md %}{% endcapture %}
{% capture publicInterestStorytelling %}{{ publicInterestStorytelling | markdownify }}{% endcapture %}

{% capture localDistributionPartnerships %}{% include /content/3.2.6_localDistributionPartnerships.md %}{% endcapture %}
{% capture localDistributionPartnerships %}{{ localDistributionPartnerships | markdownify }}{% endcapture %}

{% capture understandAudiences %}{% include /content/3.2.7_understandAudiences.md %}{% endcapture %}
{% capture understandAudiences %}{{ understandAudiences | markdownify }}{% endcapture %}

{% capture holisticSupportatLocalLevel %}{% include /content/3.2.8_holisticSupportatLocalLevel.md %}{% endcapture %}
{% capture holisticSupportatLocalLevel %}{{ holisticSupportatLocalLevel | markdownify }}{% endcapture %}

{% capture grantsForInvestigativeJournalism %}{% include /content/3.2.9_grantsForInvestigativeJournalism.md %}{% endcapture %}
{% capture grantsForInvestigativeJournalism %}{{ grantsForInvestigativeJournalism | markdownify }}{% endcapture %}

{% capture businessSavvyFreelancers %}{% include /content/3.2.10_businessSavvyFreelancers.md %}{% endcapture %}
{% capture businessSavvyFreelancers %}{{ businessSavvyFreelancers | markdownify }}{% endcapture %}

{% capture connectingJournalistsCSOs %}{% include /content/3.2.11_connectingJournalistsCSOs.md %}{% endcapture %}
{% capture connectingJournalistsCSOs %}{{ connectingJournalistsCSOs | markdownify }}{% endcapture %}

{% capture mediaSmartCSOs %}{% include /content/3.2.12_mediaSmartCSOs.md %}{% endcapture %}
{% capture mediaSmartCSOs %}{{ mediaSmartCSOs | markdownify }}{% endcapture %}

{% capture physicalSpaces %}{% include /content/3.2.13_physicalSpaces.md %}{% endcapture %}
{% capture physicalSpaces %}{{ physicalSpaces | markdownify }}{% endcapture %}

{% capture solidarityResponseNetworks %}{% include /content/3.2.14_solidarityResponseNetworks.md %}{% endcapture %}
{% capture solidarityResponseNetworks %}{{ solidarityResponseNetworks | markdownify }}{% endcapture %}

<!-- ////////////////////////////////////////////////////// -->
