// colors

$darkBlue: #2e2f3a;
$green: #7bba87;
$yellow: #ecef86;
$black: #313131;
$white: #f7f7f7;
$lightGrey: #E8E8E8;
$grey: #9f9fa5;

// sizes

$maxWidth: 1200px;
$columnPad: 2rem;
$wrapperPad: 2.5rem;
$flyOutWidth: 1020px;

// type

$serif: "freight-text-pro", serif;
$sansSerif: "franklin-gothic-urw", sans-serif;
