// colors

$darkBlue: #2e2f3a;
$green: #7bba87;
$yellow: #ecef86;
$black: #000;
$white: #fff;
$grey: #E8E8E8;

// sizes

$maxWidth: 1200px;

// type

$serif: "freight-text-pro", serif;
$sansSerif: "franklin-gothic-urw", sans-serif;
