// colors

$darkBlue: #2e2f3a;
$green: #7bba87;
$yellow: #ecef86;
$darkYellow: #c6c27d;
$black: #313131;
$white: #f7f7f7;
$lightGrey: #E8E8E8;
$grey: #9f9fa5;

// sizes

$maxWidth: 1200px;
$columnPad: 2rem;
$wrapperPad: 2.5rem;
$flyOutWidth: 1020px;
$headerHeight: 13rem;
$headerNavHeight: 6.5rem;

// timeline

$timelineHeight: 600px;
$timelineHeightMobile: 480px;
$timelineSectionWidth: 450px;
$timelineSectionWidthMobile: 250px;
$timelineScaleWidth: 40px;

// type

$serif: "freight-text-pro", serif;
$sansSerif: "franklin-gothic-urw", sans-serif;
