---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'normalize';
@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $darkBlue;
  color: $white;
  font-family: $serif;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
  padding: 0 $wrapperPad;
}

.header {
   background: $lightGrey;
   border-bottom: .8rem solid $green;
   padding: 1.5rem 0;
   overflow: hidden; // this helps with the animation
   transition: height .5s ease;
}

// this prevents the page content from jumping around when the .header height changes
.header__wrap {
  height: $headerHeight;

  @include breakpoint('mobile') {
    height: auto;
  }
}

.header--down {
  height: $headerNavHeight; // this is defined for the transition to animate
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 5;

  @include breakpoint('mobile') {
    height: auto;
    position: static;
  }
}

.header--up {
  border: 0;
  height: 0;
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 2;

  @include breakpoint('mobile') {
    height: auto;
    position: static;
  }
}

.header--onlyNav {

}

.header__logo {
  display: block;
  font-family: $sansSerif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  opacity: .2;
  padding: 0 0 1.5rem;
  text-align: center;
  text-decoration: none;

  // hide logo when header is fixed and down the page
  .header--onlyNav & {
    display: none;
  }
}

main {

}

.content {

  & > * {
    margin-left: 33%;

    @include breakpoint(mobile) {
      margin-left: auto;
    }
  }
}

section {
  padding-top: 1.8rem;
}

figure {
  margin: 2rem 0 4rem;

  figcaption {
    font-family: $sansSerif;
    margin: 1rem 0 2rem 0;
    text-align: right;
  }

  & > img {
    width: 100%;
  }
}

// doubled-up for specificity
.fullWidth.fullWidth {
  margin-left: 0;
  position: relative;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.arrowWrap {
  display: inline-block;
  vertical-align: middle;

  a {
    display: inline-block;
    border-radius: 50%;
  }

  .left {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid $yellow;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  .left:after {
    content: '';
  	display: inline-block;
    margin-top: .8rem;
    margin-left: .9rem;
    width: 1.4rem;
    height: 1.4rem;
    border-top: 0.5rem solid $yellow;
    border-right: 0.5rem solid $yellow;
    transform: rotate(-135deg);
  }

  .right {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 0.5em solid $yellow;
    border-radius: 50%;
    margin-left: 1.5rem;
  }

  .right:after {
    content: '';
  	display: inline-block;
    margin-top: .8rem;
    margin-left: .6rem;
    width: 1.4rem;
    height: 1.4rem;
    border-top: 0.5rem solid $yellow;
    border-right: 0.5rem solid $yellow;
    transform: rotate(45deg);
  }
}

// typography

// typekit font event:
// https://helpx.adobe.com/typekit/using/font-events.html
.wf-loading {
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  p {
    visibility: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sansSerif;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  color: $yellow;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  padding: 0 0 1rem 0;

  .bg--white & {
    color: $green;
    border-color: $grey;
  }

  .bg--green & {
    color: $white;
    border-color: $white;
  }

  .bg--lightGrey & {
    color: $black;
    border-color: $black;
  }
}

h3 {
  color: $green;
  font-size: 2rem;

  .bg--green & {
    color: $white;
  }
}

h4 {
  font-size: 1.5rem;
  opacity: .6;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-family: $sansSerif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

ul {
  line-height: 1.5;
}

blockquote p {
  color: $yellow;
  font-family: $serif;
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  margin: 2rem 0 2.5rem;
}

.subheading {
  color: $black;
  font-family: $serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
}

// This is for the H2 tags on the part 2 page, with white blocks
.block {
  background: $white;
  color: $darkBlue;
  margin-top: 0;
  padding: 1.5rem 2rem;

  .preTitle {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 5px;
    opacity: .5;
    text-transform: uppercase;

    @include breakpoint('mobile') {
      font-size: 1.3rem;
    }
  }

  .title {
    font-size: 3.5rem;
    font-weight: 700;

    @include breakpoint('mobile') {
      font-size: 2.5rem;
    }
  }
}

// typography for the flyOut box
// doubled up so it doesn't compete with ai2html graphic specificity
.flyOut__inner__text.flyOut__inner__text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $black;
    font-family: $sansSerif;
  }
}

// navigation

nav {
  font-family: $sansSerif;
}

.mainNav {
  border-top: 1px solid $grey;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 0 0 1rem;
  width: 100%;

  @include breakpoint('mobile') {
    flex-direction: column;
  }

  a {
    // border-left: 1px solid $black;
    width: 33%;
    color: $green;
    margin: 0 0 0 $columnPad;
    padding: 1rem 0 0 0;
    position: relative;
    text-decoration: none;

    @include breakpoint('mobile') {
      margin: 0 auto 1rem;
      width: 100%;
    }

    &:first-child {
      margin-left: 0;

      @include breakpoint('mobile') {
        margin-left: auto;
      }

      // no border on the first child
      &::after {
        background: $black;
        content: '';
        height: 0rem;
        left: -1rem;
        position: absolute;
        top: 0;
        width: 0px;
      }
    }

    // this creates the left border on menu items, with a fixed height
    &::after {
      background: $grey;
      content: '';
      height: 1.5rem;
      left: -1rem;
      position: absolute;
      top: 0;
      width: 1px;

      // hide the border on mobile
      @include breakpoint('mobile') {
        height: 0;
        width: 0;
      }
    }

    // active top nav item
    &.active {
      color: $darkBlue;
    }
  }
}

.mainNav__preTitle {
  color: $grey;
  display: block;
  font-family: $sansSerif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mainNav__title {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 16rem;
}

// added extra classes for specificity
.toc.toc {
  color: white;
  float: left;
  margin: 2rem 0 0 0;
  mix-blend-mode: difference;
  padding: 1.8rem 1.5rem 1.8rem $wrapperPad;
  position: sticky;
  top: 5.8rem;
  width: 20rem;
  z-index: 0;

  @include breakpoint(mobile) {
    position: static;
    width: 100%;
  }

  // TOC nav link styling
  a {
    text-decoration: none;
    transition: .4s all ease;

    &:link,
    &:visited,
    &:active {
      color: $grey;
    }

    &:hover {
      color: $grey;
      opacity: .8;
    }
  }

  // doubled-up for specificity
  .nav-active.nav-active {
    color: $green;
    font-weight: 700;
  }
}

.toc ul {
  color: $grey;
  font-family: $serif;
  font-size: 1.2rem;
}

.toc__preTitle {
  color: $grey;
  display: block;
  font-family: $sansSerif;
  letter-spacing: 3px;
  opacity: .4;
  text-transform: uppercase;
}

.toc__title {
  border-bottom: 1px solid $grey;
  color: $grey;
  display: inline-block;
  font-size: 1.3em;
  padding: 0 0 .6rem 0;
}

// color backgrounds

[class*='bg--'] {
  // this needs to go edge to edge—can't be overwritten
  margin: 0 !important;
  padding: 3rem 0;
}

.bg--white {
  background: $white;
  color: $black;
}

.bg--green {
  background: $green;
  color: $white;
}

.bg--lightGrey {
  background: $lightGrey;
  color: $black;
}

// footer

.footer {
  background: $lightGrey;
  min-height: 12rem;
  margin: 5rem 0 0 0;
  padding: 4rem 0 6rem;
}

.footer__meta {
  color: $black;
  display: flex;

  @include breakpoint('mobile') {
    flex-direction: column;
  }
}

.footer__meta__desc {
  flex: 2;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-right: $columnPad;

  @include breakpoint('mobile') {
    margin-bottom: 1rem;
  }
}

.footer__meta__nav {
  flex: 1;
  font-size: 1.4rem;

  a {
    border-top: 1px solid $black;
    display: block;
    padding: 1rem 0;
  }
}

.footer__logos {
  border-top: 1px solid $black;
  display: flex;
  margin: 1rem auto 0;
  justify-content: space-between;
  padding: 2rem 0 0 0;

  @include breakpoint('mobile') {
    flex-direction: column;
  }
}

.footer__logos__logo {
  width: 29%;
  max-width: 16rem;

  @include breakpoint('mobile') {
    margin: 1rem auto;
    padding: 0;
    width: 100%;
  }
}

.button {
  border: 2px solid $white;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.5rem;
}

// fly out feature sidebar

.flyOut {
  display: flex;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  pointer-events: none;

  &.flyOut__active {
    pointer-events: auto;
  }
}

.flyOut__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  transition: opacity .3s;

  .flyOut__active & {
    opacity: 1;
  }
}

.flyOut__inner {
  background: $lightGrey;
  color: $black;
  left: 100%;
  margin-left: auto;
  overflow-y: auto;
  position: relative;
  width: $flyOutWidth;
  max-width: 100%;
  transition: left .4s;

  .flyOut__active & {
    left: 0;
  }
}

.flyOut__inner__text {
  padding: 3.5rem 1.5rem;

  .flyOut__active & {
    left: 0;
  }
}

.flyOut__close {
  background: $lightGrey;
  border: 2px solid $black;
  cursor: pointer;
  display: block;
  padding: 1rem;
  position: fixed;
  top: 1rem;
}

// graphic styles

// styles for illustrations in pt. 2
.profile {
  display: block;

  // this is because profile images have a margin left of 33%
  width: 66%;

  @include breakpoint('mobile') {
    // when on mobile should span full width
    width: 100%;
  }

  .government & {
    max-width: 47rem;
  }
}

.ai2html {
  font-family: $sansSerif;
}

// x & y axis labels
.g-label {

}

// recommendation text
.g-flyOutButton {
  cursor: pointer;
  transition: .2s all ease;

  // underline when hovering over matrix item, to encourage clicking the text, not the dot
  &:hover {
    text-decoration: underline;
  }
}

// this shows/hides the corresponding artboard markup

.g-desktop {
  @include breakpoint('tablet') {
    display: none;
  }
  @include breakpoint('mobile') {
    display: none;
  }
}

.g-tablet {
  @include breakpoint('desktop') {
    display: none;
  }
  @include breakpoint('mobile') {
    display: none;
  }
}

.g-mobile {
  @include breakpoint('desktop') {
    display: none;
  }
  @include breakpoint('tablet') {
    display: none;
  }
  @include breakpoint('mobile') {
    display: block;
  }
}

// timeline styles

.timeline {
  align-items: top;
  background: $lightGrey;
  color: $black;
  display: flex;
  height: $timelineHeight;
  margin: 3rem 5% 1rem;
  position: relative;
  width: 100%;
  max-width: 1200px;

  @include breakpoint(mobile) {
    height: $timelineHeightMobile;
  }
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.timeline__scale {
  position: relative;
  background: $green;
  width: $timelineScaleWidth;
  height: $timelineHeight;
  color: #fff;

  @include breakpoint(mobile) {
    height: $timelineHeightMobile;
  }

  .top, .bottom {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-left: 7px;
  }
}

.timeline__scale__label {
  transform: rotate(-90deg);
  position: absolute;
  left: -50px;
  top: calc(50% - 30px);
  font-family: $sansSerif;
  text-transform: uppercase;
}

.timeline__viewport {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
}


// this is used to determine when a section is active
.timelineWindow {
  width: 70%;
  height: $timelineHeight;
  // background: blue;
  z-index: 0;
  position: absolute;

  @include breakpoint(mobile) {
    height: $timelineHeightMobile;
  }
}

.timeline__section {
  display: inline-block;
  clear: none;
  width: $timelineSectionWidth;
  height: $timelineHeight;
  // background: rgba(255,255,255,.5);
  position: relative;
  border-right: 1px solid $darkBlue;

  @include breakpoint(mobile) {
    width: $timelineSectionWidthMobile;
    height: $timelineHeightMobile;
  }

  svg {
    height: $timelineHeight;
    opacity: .2;
    position: absolute;
    transition: 1s all ease;
    width: 100%;
    z-index: 0;

    @include breakpoint(mobile) {
      height: $timelineHeightMobile;
    }
  }
}

.active svg {
  opacity: 1;
}

.timeline__section__year {
  background: #fff;
  bottom: 0;
  font-family: $sansSerif;
  padding: .5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.timeline__section__introduction {
  margin: 15px;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  white-space: normal;
  z-index: 2;

  p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    opacity: .3;
    max-width: 16rem;
  }
}

.timeline__section__event {
  font-family: $serif;
  padding: 0 15px;
  position: absolute;
  top: 25rem;
  white-space: normal;
  z-index: 2;

  @include breakpoint('mobile') {
    top: 19rem;
  }

  p {
    font-family: $serif;
    font-size: 1rem;

    @include breakpoint('mobile') {
      font-size: .8rem;
    }
  }
}

.timeline__section__event__title {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;

  @include breakpoint('mobile') {
    font-size: 1rem;
    margin-bottom: .3rem;
  }
}

.timeline__section__implication {
  border-bottom: 1px solid $black;
  margin: 15px;
  opacity: 0;
  padding-bottom: .5rem;
  position: absolute;
  top: 0;
  transition: 1s all ease;
  white-space: normal;
  z-index: 2;

  .active & {
    opacity: 1;
    // background: red;
  }

  p, li {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: .8rem;

    @include breakpoint('mobile') {
      font-size: .8rem;
    }
  }
}

.timelineButtonLeft {
  float: left;
}

.timelineButtonRight {
  float: right;
}
